html {
    margin: 0 auto;
    margin-top: 0px;

}
body{
    margin: auto;
    margin-top: 0px;
    position: relative;
}
.GoLogin{
    
}
.Goheader{
    width: 100%;
    text-align: center;

}
.GoheaderTitle{
    color: #00e6e6;
}
.Goheader ul{
    list-style-type: none;
    display: flex;
    color: #ffffff;
    background-color:  #006666;
}
.Goheader ul li{
    padding: 8px;
}
.Goheader ul a{
    color: #ffffff;
}
.Goheader ul a:hover{
    color: #ff3300;
    padding: 8px;
    background-color: #47476b;

}

.Gofooter{
     text-align: center;
     width: 100%;
     margin-bottom: 0px;

}
.Goerror{
    font-style: bold;
    font-size: 32;
    text-align: center;
    background-color:  #b3cccc;
    width: 100%;
    height: 500px;

}
.Gofour{
    font-size: 100px;
    color: #ff0000;
}
