

.Gofooter{
     text-align: center;
     width: 100%;
     margin-bottom: 0px;

}
.Goerror{
    font-style: bold;
    font-size: 32;
    text-align: center;
    background-color:  #b3cccc;
    width: 100%;
    height: 500px;

}
.Gofour{
    font-size: 100px;
    color: #ff0000;
}
